# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Next.js
.next/

# Misc
.DS_Store
*.pem

# Prisma
prisma/migrations/

# Production
build/

# Testing
coverage/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Package managers
.pnpm/

# Chromatic
chromatic.config.json

# Storybook
*storybook.log

# Vercel platform-specific files
.vercel/