

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.btn.primary {
  background-color: #F9703E;
  border: 2px solid #F9703E;
  color: #F5F7FA;
  transition: all 0.3s;
}
.btn.primary:hover {
  background-color: #DE3A11;
  border: 2px solid #DE3A11;
  color: #F5F7FA;
}

.btn.secondary {

  background-color: #F5F7FA;
  border: 2px solid #F9703E;
  color: #F9703E;
  transition: all 0.3s;
}
.btn.secondary:hover {
  background-color: #F9703E;
  border: 2px solid #F9703E;
  color: #F5F7FA;
}

.bg-main {
  background-image: url("../public/cats-kittens.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}